<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tong.dao.UserMapper">
    <select id="checkUser" parameterType="String" resultType="com.tong.pojo.User">
        select * from myblog.user where name = #{name}
    </select>
</mapper>


